<main>
  <div class="div main-container">
    <div class="main-info">
      <div class="text-content">
        <h1>Diogo Santos</h1>
        <h4>Angular Frontend Developer</h4>
        <p>I am an inquisitive technology enthusiast who's always been hooked on learning.
            I decided to change careers at the beginning of 2020, and follow the
            path to be a Frontend Developer.
            After doing some courses on HTML / CSS I plunged headlong into Javascript.
            It didn't take me long to realize that it was time I learned a framework to
            get involved in bigger projects.
            In September 2021 I started learning Angular, and since November 2021
            I've been working with some cool guys and learning a lot from them.
        </p>
      </div>
      <ul class="social">
        <li><a href="#">linkedin</a></li>
        <li><a href="#">github</a></li>
      </ul>
    </div>
    <!-- <div class="img-container">
      <img class="profile-img" src="../../../assets/img/profile.png" alt="profile image">
    </div> -->
  </div>
    <div class="skills">
    <h1>My skills</h1>
  </div>
</main>
