@media (max-width: 1020px) {
  .page-container {
    background-position: 100px -50px;
    background-size: 1200px;
  }

  .page-container::before {
    background-color: rgba(0, 0, 0, 0.6);
  }

  .main-info {
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    z-index: 2;
  }

  .text-content {
    width: 420px;
    font-weight: 200;
    text-align: center;
  }

  .social a {
    width: 150px;
  }
}

@media (max-width: 990px) {
  .portifolio {
    height: 1200px;
  }

  .thumbnails {
    width: 450px;
  }
}


@media (max-width: 890px) {
  .page-container {
    background-position: -450px -250px;
    background-size: 1800px;
  }
}

@media (max-width: 730px) {
  .page-container {
    background-position: -550px -190px;
  }
}
@media (max-width: 630px) {
  .page-container {
    background-position: -650px -190px;
  }
}

@media (max-width: 530px) {
  .page-container {
    background-position: -750px -180px;
  }
  .portifolio {
    height: 940px;
  }

  .thumbnails {
    width: 300px;
  }
}

@media (max-width: 470px) {
  .text-content {
    width: 360px;
  }

  .social a {
    width: 120px;
  }

  .contact p {
    width: 300px;
    margin: 0 auto;
    text-align: center;
  }
}

@media (max-width: 420px) {
  .text-content {
    width: 300px;
  }

  .social a {
    width: 100px;
  }
}

@media(max-width: 380px) {
  .page-container {
    background-position: -850px -180px;
  }

}
