<main>
  <div class="div page-container">
    <div class="main-info">
      <div class="text-content">
        <h1>Diogo Santos</h1>
        <h4>Angular Frontend Developer</h4>
        <p>An inquisitive technology enthusiast who's always been keen on learning.
            I decided to change careers at the beginning of 2020, and follow the
            path to be a Frontend Developer.
            After doing some courses on HTML / CSS I plunged headlong into Javascript.
            It didn't take me long to realize that it was time I learned a framework to
            get involved in bigger projects.
            In September 2021 I started learning Angular, and have been working with it
            since January 2022.
        </p>
      </div>
      <ul class="social">
        <li><a href="https://www.linkedin.com/in/diogo-angelo-400a53b1/" target="_blank">LinkedIn</a></li>
        <li><a href="http://www.github.com/diogoangelo" target="_blank" >Github</a></li>
      </ul>
    </div>
  </div>
    <div class="portifolio">
    <h1>Portfolio</h1>
    <ul class="thumbnails">
      <li class="page page-one">
        <a href="https://celsomachadojr.com/" target="_blank">
          <img src="../../../assets/img/celso-machado.png" alt="celso machado page">
        </a>
      </li>
      <li class="page page-two">
        <a href="https://dingoenglish.com.br/" target="_blank">
          <img src="../../../assets/img/dingo.png" alt="dingo page">
        </a>
      </li>
      <li class="page page-three">
        <a href="https://diogoangelo.github.io/WildAnimals/" target="_blank">
          <img src="../../../assets/img/animais.png" alt="animais page">
        </a>
      </li>
      <li class="page page-four">
        <a href="https://diogoangelo.github.io/BarbeariaNova/index.html" target="_blank">
          <img src="../../../assets/img/barbearia.png" alt="animais page">
        </a>
      </li>
    </ul>
  </div>
  <div class="contact">
    <h1>Contact</h1>
    <p>angelodio84@hotmail.com</p>
    <p>Phone: 935 322 969</p>
    <p>Rua Dom Lopo de Almeida, 108 2E - Porto, Portugal</p>

  </div>
</main>
